@model Expense_Tracker.Models.Transaction

@{
	ViewData["PageTitle"] = Model.TransactionId == 0 ? "Create" : "Edit";
}
<div class="row">
	<div class="col-md-7">
		<div class="widget p-5">

			<form asp-controller="Transaction" asp-action="AddOrEdit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="TransactionId" />
				<div class="mb-3">
					<ejs-datepicker id="date" ejs-for="Date" floatLabelType="Always" placeholder="Date" format="MMM-dd-yy"></ejs-datepicker>
				</div>
				<div class="mb-3">
					<ejs-dropdownlist id="games" ejs-for="CategoryId" dataSource="@ViewBag.categories"
					floatLabelType="Always" placeholder="Category" allowFiltering="true" ignoreAccent="true"
					filterType="Contains" popupHeight="200px">
					@* in sorting we can serach for category in ddl but we have emoji which wont let us search for that 
						we have taken ignoreaccent and filtertype
					*@
						<e-dropdownlist-fields value="CategoryId" text="TitleWithIcon"></e-dropdownlist-fields>
					</ejs-dropdownlist>
				</div>
				<div class="mb-3">
					<ejs-numerictextbox id="numeric" format="c0" floatLabelType="Always" min="0" ejs-for="Amount"
					placeholder="Amount"></ejs-numerictextbox>
				</div>
				<div class="mb-3">
					<ejs-textbox id="note" placeholder="Note" ejs-for="Note" floatLabelType="Auto"></ejs-textbox>
					<span asp-validation-for="Note" class="text-danger" multiline="true"></span>
				</div>

				<div class="mb-3">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</form>

		</div>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
