@model IEnumerable<Expense_Tracker.Models.Transaction>

@{
    ViewData["PageTitle"] = "Transactions";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Transaction/AddOrEdit";
}

<div class="row e-bigger">
	<div class="col-md-12">
		<ejs-grid id="categories" dataSource="@Model" allowPaging="true" allowSorting="true">
			<e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
			<e-grid-columns>
				<e-grid-column headerText="Category" field="CategoryTitleWithIcon"></e-grid-column>
				<e-grid-column headerText="Note" field="Note" width="350px"></e-grid-column>
				<e-grid-column headerText="Date" field="Date" width="110px" textalign="Left" type="date" format="MMM-dd-yy"></e-grid-column>
				<e-grid-column headerText="Amount" field="FormattedAmount" textalign="Right"></e-grid-column>
				<e-grid-column headerText="Action" field="" template="#actionColumnTemplate"></e-grid-column>

			</e-grid-columns>
		</ejs-grid>
	</div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
	${Type == "Income" ? `<span class="badge bg-success">Income</span>` : `<span class="badge bg-danger">Expense</span>`}
</script>

<script id="actionColumnTemplate" type="text/x-template">
	<div class="d-flex flex-row justify-column-start">
		<a class="btn btn-sm no-a-decoration" href="/Transaction/AddOrEdit/${TransactionId}">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
		  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z"/>
		</svg>
		</a>

		<form action="/Transaction/Delete/${TransactionId}" method="post">
	@Html.AntiForgeryToken()
			<button type="submit" class="btn btn-sm text-danger no-a-decoration" onclick="return confirm('Are you sure?')">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
					<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0"/>
					</svg>
			</button>
		</form>

	</div>
</script>
