html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color:#12161d;
  color:#fff;
}

.main-content{
    margin-left:290px !important;
}

.e-breadcrumb a, e-breadcrumb a:hover {
    color:inherit !important;
    text-decoration:none;
}

.e-grid{
    border:0;
    border-radius:5px;
}


.e-bigger {
    font-size: x-large;
}

.btn:focus, .btn:active{
    outline:none !important;
    box-shadow:none;
}

.no-a-decoration, .no-a-decoration:hover{
    text-decoration:none;
    color:inherit;
}

.e-btn-group.custom-rbt-group {
    width: 100%;
}
.e-btn-group.custom-rbt-group .e-btn{
    width: 50%;
}

.custom-rbt-group label.e-btn {
box-shadow:none !important;
border : 1p solid #fff;
background-color:rgb(34,43,51);
color:#fff;
}


.e-btn-group.custom-rbt-group input:checked + label.e-btn {
    border: 1p solid #fff;
    background-color: #fff;
    color: #212b36;
}


.widget{
    border-radius:1rem;
    background-color:#1a222b;
}


#Sidebar{
    background-color:#12161d;
    border-right:1px dashed rgba(75,82,85,0.24);
    padding:10px 20px;
}